{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>IMU Sensor Data</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <style>
        body {
            overflow: hidden;
        }

        .container {
            display: flex;
        }

        .left-side {
            flex: 1;
            padding: 20px;
        }

        .right-side {
            flex: 1;
            padding: 20px;
        }

        #sensor-3d {
            max-width: 100%;
            max-height: 100%;
            transition: transform 0.2s ease;
        }
    </style>
</head>

<body>
    <h1>IMU Sensor Data</h1>
    <div class="container">
        <div class="left-side">
            <h2>Acceleration:</h2>
            <p id="acceleration-x">x: </p>
            <p id="acceleration-y">y: </p>
            <p id="acceleration-z">z: </p>

            <h2>Gyroscope:</h2>
            <p id="gyroscope-x">x: </p>
            <p id="gyroscope-y">y: </p>
            <p id="gyroscope-z">z: </p>
            
            <h2>Magnetometer:</h2>
            <p id="magnetometer-x">x: </p>
            <p id="magnetometer-y">y: </p>
            <p id="magnetometer-z">z: </p>
        </div>
        <div class="right-side">
            <h2>3D Model:</h2>
            <div id="sensor-3d"></div>
        </div>
    </div>

    <script type="module">
        import * as THREE from 'https://cdn.skypack.dev/three@0.136.0';
        import { GLTFLoader } from 'https://cdn.skypack.dev/three@0.136.0/examples/jsm/loaders/GLTFLoader.js';

        const renderer = new THREE.WebGLRenderer();
        const scene = new THREE.Scene();
        const sensorElement = document.getElementById('sensor-3d');
        const camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight);
        let mesh;

        renderer.setSize(window.innerWidth * 0.75, window.innerHeight * 0.75);
        scene.background = new THREE.Color("white");
        scene.add(new THREE.HemisphereLight(0xffffcc, 0x333399, 1.0));
        camera.position.set(0, 0, -10);

        new GLTFLoader().load("{% static 'images/MPU9255.glb' %}", function ({ scene: model }, animations) {
            scene.add(model);

            model.scale.setScalar(0.25);

            camera.lookAt(model.position);

            mesh = model;
        });

        // Function to update the 3D model based on sensor data
        async function fetchAndUpdate() {
            const response = await fetch('api/sensor_data/');
            const sensorData = await response.json();

            console.log(sensorData)

            document.getElementById('acceleration-x').innerText = `x: ${sensorData.acc_x}`;
            document.getElementById('acceleration-y').innerText = `y: ${sensorData.acc_y}`;
            document.getElementById('acceleration-z').innerText = `z: ${sensorData.acc_z}`;
            document.getElementById('gyroscope-x').innerText = `x: ${sensorData.gyro_x}`;
            document.getElementById('gyroscope-y').innerText = `y: ${sensorData.gyro_y}`;
            document.getElementById('gyroscope-z').innerText = `z: ${sensorData.gyro_z}`;
            document.getElementById('magnetometer-x').innerText = `x: ${sensorData.mgm_x}`;
            document.getElementById('magnetometer-y').innerText = `y: ${sensorData.mgm_y}`;
            document.getElementById('magnetometer-z').innerText = `z: ${sensorData.mgm_z}`;

            if (mesh) {
                const rotationX = parseFloat(sensorData['gyro_x']);
                const rotationY = parseFloat(sensorData['gyro_y']);
                const rotationZ = parseFloat(sensorData['gyro_z']);

                if (!isNaN(rotationX) && !isNaN(rotationY) && !isNaN(rotationZ)) {
                    mesh.rotation.set(rotationX, rotationY, rotationZ);
                }
            }
        }

        // Fetch new data every second
        setInterval(fetchAndUpdate, 1000);

        // Function to animate the 3D model
        function animate() {
            renderer.render(scene, camera);
            requestAnimationFrame(animate);
        }

        animate();
        document.getElementById('sensor-3d').appendChild(renderer.domElement);
    </script>
</body>

</html>